*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
.box{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(230, 10, 10, 0.744),rgba(113, 2, 2, 0.81),rgb(58, 3, 3));
    margin-top: 0;
}
.box1{
    height: 80%;
    width: 60%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}
.a{
    height: 90%;
    width: 45%;
    /* background-color:red; */
    border-radius: 10px;
    color: white;
}
.offer{
    height: 100px;
    width: 100px;
    background-color: crimson;
    border-radius: 50%;
    margin-left: 300Px;
}
.img{
    height: 70%;
    width: 100%;
    object-fit: cover;
}
.b{
    height: 90%;
    width: 45%;
    /* background-color: azure; */
}
.visa{
    position: absolute;
    top: 35%;
    left: 85%;
    
}
small{
    font-size: 14px;
}
.c{
    color: white;
    height: 45%;
    width: 100%;
    border-radius: 7%;
    background: linear-gradient(rgba(230, 10, 10, 0.744),rgba(113, 2, 2, 0.81),rgb(58, 3, 3));
    padding: 20px;
}

hr{
    color: rgba(255, 0, 98, 0.962);
}
.red{
    color: rgba(255, 0, 98, 0.962);
}
.d{
    height: 50%;
    width: 100%;
    background-color: black;
    margin-top: 2px;
}
small{
    margin-left: 20px;
    color: white;
}
.dot{
    font-size: 40px;
}
.dott{
    font-size: 40px;
    border-bottom: 2px solid red;
    
}
.name{
    border-bottom: 2px solid red;
}
.date{
    border-bottom: 2px solid red;
    margin-top: 10px;
}
hr{
    width: 120%;
}
.no{
    border-bottom: 2px solid red;

}
button{
    padding: 10px 45px;
    background-color: rgba(238, 12, 12, 0.981);
    color: beige;
    border-radius: 30px;
    border: none;
    margin-top: 1px;
    margin-left: 30%;

}
small{
    font-weight: 300;
    font-size: large;
}

